#main{
	text-align:center;
}

#content{
	background-color:#F5F1E9;
	text-align:center;
	width:810px;
	height:600px;
}

#left{
	width:200px;
	height:600px;
	float:left;
}

#right{
	width:600px;
	height:600px;
	float:left;
}

#title {
font-family: 'Unica One', sans-serif;
	margin-top:70px;
	color:#262626;
	font-size:64px;
}

#clock {
	font-family: 'Wire One', sans-serif;
	color:#16A6B6;
	font-size:110px;
}

#link{
	font-family: 'Didact Gothic', sans-serif;
	color:#262626;
	margin-top:40px;
	border-top:1px solid #262626;
	border-bottom:1px solid #262626;
	width:200px;
}

a {
	color:#262626;
	text-decoration:none;
	padding:10px;
}

a:hover{
	opacity:0.7;
}
